.categories-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.categories-card {
    display: inline-block;
    width: 31.2rem;
    height: 22rem;
    text-align: center;
    background-color: var(--background-secondary-color);
    padding: 4.1rem 1.6rem;
    border-radius: 0.8rem;
}

.categories-card img {
    display: block;
    margin: 0 auto;

}

.categories-card span {
    display: inline-block;
    font-size: 2.8rem;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
    line-height: 1.2;
    margin-top: 2.4rem;
}