.categories-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.categories-card {
    display: inline-block;
    width: 31.2rem;
    height: 22rem;
    text-align: center;
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    padding: 2.4rem;
    border-radius: 0.8rem;
}

.categories-card img {
    display: inline-block;
    margin: 0 auto;
}

.categories-card h3 {
    margin-top: 2.8rem;
    font-size: 2.8rem;
    font-weight: var(--title-weight);
    line-height: 1.2;
}

.categories-card.single-line {
    padding-top: 5rem;
}

.categories-card.single-line.transfer img{
    margin: 1rem 0 2rem;
}

@media (min-width: 768px) {
    .categories-section {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
}

@media (min-width: 1024px) {
    .categories-card {
    width: 35rem;
}
}

@media (min-width: 1440px) {
    .categories-card {
        width: 28rem;
    }
}