.main-footer {
    background-color: var(--background-tertiary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem 2.4rem;
}

.main-footer p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
}

.main-footer a {
    display: inline-block;
}

.footer-content {
    text-align: center;
}

.footer-content p {
    margin: 1.6rem 0 0.8rem;
}

.footer-social {
    text-align: center;
}

.footer-social a {
    margin-top: 1.6rem;
}

@media (min-width: 768px) {
    .main-footer {
        padding: 3.2rem 6rem;
}

    .footer-content p {
        font-size: 2rem;
        line-height: 3.2rem;
}

    .footer-social {
        margin-top: 3.2rem;
}
}

@media (min-width: 1440px) {
    .main-footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 5.2rem 12rem;
}
    .footer-content {
        text-align: left;
}
}