body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-primary-color);
}

section {
    width: 31.2rem;
    margin: 0 auto 8.8rem;
}

section.hero {
    width: 100%;
    margin: 0;
}

.section-title {
    width: 28rem;
    margin: 0 auto 3.2rem;
}

.section-title h2 {
    font-size: 2.8rem;
    font-weight: var(--title-weight);
    text-align: center;
}

.section-title hr {
    background-color: var(--secondary-color);
    width: 18rem;
    height: 0.4rem;
    border: none;
    margin: 1.6rem auto 3.2rem;
}

.content-title {
    font-size: 2.8rem;
    font-weight: var(--title-weight);
    margin: 0 0 2.4rem;
}

.content-text {
    font-size: 2rem;
    font-weight: var(--text-weight);
}

.button {
    display: inline-block;
    font-size: 2rem;
    font-weight: var(--title-weight);
    color: var(--text-secondary-color);
    background-color: var(--secondary-color);
    min-width: 28rem;
    height: 6.4rem;
    line-height: 6.4rem;
    border-radius: 0.8rem;
    transition: 0.3s;
    text-align: center;
}

@media (min-width: 768px) {
    section {
    width: 64.8rem;
}
    
    .section-title {
    width: 100%;
  }

    .section-title h2 {
    font-size: 3.2rem;
}
}

@media (min-width: 1024px) {
    section {
    width: 90rem;
}

    .section-title hr {
    margin-bottom: 6.4rem;
}

.button:hover {
    background-color: var(--primary-color);
}
}

@media (min-width: 1440px) {
    section {
    width: 120rem;
}
}