.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 2.8rem;
    font-weight: var(--title-weight);
}

.section-title hr {
    background-color: var(--secondary-color);
    width: 18rem;
    height: 0.4rem;
    display: inline-block;
    border-style: none;
    margin-bottom: 3.2rem;
}

.button {
    display: inline-block;
    font-size: 2rem;
    font-weight: var(--title-weight);
    color: var(--text-secondary-color);
    background-color: var(--secondary-color);
    min-width: 28rem;
    height: 6.4rem;
    line-height: 6.4rem;
    border-radius: 0.8rem;
    transition: 0.3s;
}