.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 2.8rem;
    font-weight: var(--title-weight);
}

.section-title hr {
    background-color: var(--secondary-color);
    width: 18rem;
    height: 0.4rem;
    display: inline-block;
    border-style: none;
    margin-bottom: 3.2rem;
}