body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-primary-color);
}

.offers {
    margin-bottom: 8.8rem;
}

.categories {
    margin-bottom: 8.8rem;
}

.section-title {
    width: 28rem;
    margin: 0 auto 3.2rem;
}

.section-title h2 {
    font-size: 2.8rem;
    font-weight: var(--title-weight);
    text-align: center;
}

.section-title hr {
    background-color: var(--secondary-color);
    width: 18rem;
    height: 0.4rem;
    border: none;
    margin: 1.6rem auto 3.2rem;
}

.button {
    display: inline-block;
    font-size: 2rem;
    font-weight: var(--title-weight);
    color: var(--text-secondary-color);
    background-color: var(--secondary-color);
    min-width: 28rem;
    height: 6.4rem;
    line-height: 6.4rem;
    border-radius: 0.8rem;
    transition: 0.3s;
    text-align: center;
}
@media (min-width: 768px) {
    .section-title {
    width: 100%;
  }

    .section-title h2 {
    font-size: 3.2rem;
}
}

@media (min-width: 1024px) {
    .section-title hr {
    margin-bottom: 6.4rem;
}

.button:hover {
    background-color: var(--primary-color);
}
}