.hero-image {
    background: url(../image/hero-mobile.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 40rem;
}

.hero-subtitle {
    text-align: center;
    font-weight: var(--text-weight);
    font-size: 2rem;
    padding: 8.8rem 2.4rem;
}

@media (min-width: 768px) {
    .hero-image {
    background: url(../image/hero-tablet.jpg) no-repeat;
    background-size: cover;
    height: 62rem;
}

    .hero-subtitle {
    font-size: 3.2rem;
    padding: 8.8rem 6rem;
}
}