.offers-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.card {
    width: 31.2rem;
    height: 28.8rem;
    border-radius: 1.6rem;
    color: var(--text-secondary-color);
    text-align: center;
    padding: 2.4rem 1.6rem;   
}

.card.japao {
    background: url(../image/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.card.san-andreas {
    background: url(../image/bg-card-san-andreas.jpg) no-repeat;
    background-size: cover;
}

.card.paraiba {
    background: url(../image/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}

.card.manaus {
    background: url(../image/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

.card p {
    font-size: 2rem;
}

.card h3 {
    font-size: 4rem;
}

.card span {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    font-weight: var(--title-weight);
    display: inline-block;
}

@media (min-width: 768px) {
    .offers-cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
}

@media (min-width: 1024px) {
    .card {
    width: 42rem;
    height: 30.8rem;
}

.card h3 {
    font-size: 4.8rem;
}

.card span {
    font-size: 4.0rem;
}
}

@media (min-width: 1440px) {
    .card {
    width: 58.8rem;
}
}

@media (min-width: 1920px) {
    .offers-cards {
    width: 120rem;
    margin: 0 auto;
}
}
