:root {
	--primary-color: #BF0101;
    --secondary-color: #B81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;
    
    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
    
    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}